.containerBlockStyle {
  background-color: rgba(255, 206, 0, 1);
  padding: 18px;
  text-align: center;
  margin-bottom: 35px;
}
.containerBlockStyle p,
.containerBlockStyle a {
  font-size: 14px;
}
@media (min-width: 768px) {
  .containerBlockStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 78px;
  }
  .containerBlockStyle p,
  .containerBlockStyle a {
    font-size: 18px;
    margin-right: 10px;
  }
}
