.conveniosSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-image: url("../../assets/images/convenios-section.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: relative;
  aspect-ratio: 1.6;
}
.conveniosSection::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  right: 0;
  background: linear-gradient(
    90.06deg,
    #020c18 3.26%,
    rgba(2, 12, 24, 0) 99.04%
  );
}
.conveniosSection h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: rgb(255, 255, 255);
  margin-bottom: 17px;
  z-index: 10;
}
.conveniosSection p {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: rgb(255, 255, 255);
  z-index: 10;
  max-width: 550px;
}
.conveniosSectionBtn {
  z-index: 10;
}
.conveniosSectionBtn button {
  min-width: 172px;
  margin: 19px 0px;
  letter-spacing: 0.1px;
  text-align: center;
  cursor: pointer;
}
.infoBgPink {
  background-color: #e05aa0;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
}
.infoBgPink p {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  padding: 26px 16px 35px 16px;
  margin: 0 auto;
}
.desktop {
  display: none;
}
.infoBgPink a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
@media (min-width: 768px) {
  .conveniosSection {
    height: 496px;
  }
  .conveniosSection h2 {
    margin-top: 20%;
  }
}
@media screen and (min-width: 900px) {
  .conveniosSection {
    background-image: url("../../assets/images/convenios-section-desktop.png");
    background-position: center center;
    background-size: cover;
    height: 650px;
  }
  .conveniosSection h2 {
    font-size: 44px;
    font-weight: 500;
    line-height: 125%;
    margin: 200px 0px 0px 130px;
  }
  .conveniosSection p {
    font-size: 27px;
    font-weight: 400;
    margin: 16px 0px 0px 130px;
    width: 640px;
  }
  .conveniosSectionBtn {
    margin: 25px 0px 0px 130px;
  }
  .conveniosSectionBtn button {
    padding: 14px;
  }
  .infoBgPink {
    display: block;
    text-align: center;
  }
  .infoBgPink p {
    font-size: 25px;
    font-weight: 400;
    padding: 83px 54px 56px 54px;
  }
  .desktop {
    display: block;
  }
  .infoBgPink a {
    font-weight: 700;
  }
}
