.containerNetworks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(50px, auto);
  justify-items: end;
  width: 85%;
  height: 110px;
  margin: 0 auto;
  border-top: 2px solid black;
}

.containerNetworks h4 {
  grid-column: 1/4;
  align-self: center;
  justify-self: center;
  font-size: 14px;
  font-weight: 500;
}

.containerNetworks img:nth-child(3) {
  justify-self: center;
}

.containerNetworks img:nth-child(4) {
  justify-self: start;
}

@media (min-width: 510px) {
  .containerNetworks {
    width: 460px;
  }
  .containerNetworks h4 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .containerNetworks {
    order: 3;
    width: 150px;
    border: none;
    margin: 0;
    height: 120px;
    flex: 1;
    margin-right: 100px;
    margin-left: 50px;
  }

  .containerNetworks img {
    width: 25px;
    height: 25px;
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .containerNetworks h4 {
    font-size: 12px;
    font-weight: 500;
    justify-self: start;
    grid-column: 1/2;
  }
  .containerNetworks img:nth-child(4) {
    justify-self: end;
  }
  .containerNetworks img:nth-child(2) {
    justify-self: start;
  }
}
