@media screen and (min-width: 360px) {
  .linkContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
  }

  .linkItems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8px;
  }

  .imgItems {
    width: 50px;
    height: 50px;
    margin-bottom: 4px;
  }

  .linkEvents {
    font-weight: 400;
    font-size: 10px;
    line-height: 125%;
    min-width: 104px;
    text-align: center;
  }
  .containerMainParagraph {
    display: none;
  }
}

@media (min-width: 510px) {
  .linkEvents {
    font-size: 14px;
  }
  .imgItems {
    width: 80px;
    height: 80px;
    padding: 3px;
  }
}

@media (min-width: 768px) {
  .linkItems p {
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    margin-top: 7px;
  }
  #linkEvents {
    font-size: 17px;
    font-weight: 500;
    line-height: 132%;
  }
  .linkItems:hover {
    transition: 500ms;
    box-shadow: 0px 1px 3px;
    border-radius: 5%;
  }
}

@media (min-width: 768px) {
  .containerMainParagraph {
    display: block;
  }
}

@media (min-width: 1000px) {
  .imgItems {
    width: 170px;
    height: 90px;
  }
}
