.termsContainer {
  width: 100%;
  padding: 0 15px;
}

.introductionContainer h1 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0px 10px 10px;
}

.introductionContainer p {
  font-size: 10px;
}
@media (min-width: 768px) {
  .introductionContainer h1 {
    font-size: 40px;
    margin-top: 30px;
  }
  .introductionContainer p {
    font-size: 20px;
    padding: 5px;
    line-height: 30px;
    font-weight: 500;
  }
  .allTextSection {
    margin-left: 20px;
  }
}
