.recomendacionesContainer {
  padding: 35px 25px;
}
.recomendacionesContainer h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 20px;
}
.recomendacionesContainer h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 132%;
  margin: 32px 0px 16px 0px;
}
.recomendacionesContainer p {
  font-size: 14px;
  font-weight: 500;
  line-height: 180%;
  padding: 2px;
  margin-top: 16px;
}
.actitudPositiva {
  letter-spacing: 0.3px;
}
@media screen and (min-width: 767px) {
  .recomendacionesContainer {
    padding: 48px;
  }
  .recomendacionesContainer h2 {
    font-size: 36px;
  }
  .recomendacionesContainer h3 {
    font-size: 20px;
  }
  .recomendacionesContainer p {
    font-size: 16px;
    line-height: 225%;
  }
}
@media screen and (min-width: 1000px) {
  .recomendacionesContainer h2 {
    font-size: 44px;
  }
  .recomendacionesContainer h3 {
    font-size: 24px;
  }
  .recomendacionesContainer p {
    font-size: 20px;
    line-height: 225%;
  }
}
