.eventListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.eventListContainer div:nth-child(1) img {
  object-fit: cover;
}
.eventListContainer div:nth-child(3) img {
  object-fit: cover;
}
.coupleStyle {
  width: 358px;
  height: 150px;
  border-top-left-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.coupleStyle2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom -10px right 0px;
}
.titleStyle {
  position: absolute;
  background: rgba(255, 206, 0, 1);
  width: 100%;
  height: 35px;
  top: 115px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 35px;
  transition: 500ms;
}
.titleStyle:hover {
  box-shadow: 0px 3px 4px;
}
.coupleContainer {
  margin: 0 auto;
}

@media (min-width: 510px) {
  .coupleContainer {
    width: 510px;
    height: 220px;
  }
  .coupleContainer h2 {
    top: 185px;
    font-size: 18px;
  }
  .eventListContainer {
    margin-top: 50px;
  }
}

@media (min-width: 768px) {
  .eventListContainer {
    flex-direction: row;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .coupleContainer h2 {
    height: 60px;
    width: 240px;
    left: -50px;
    z-index: 5;
    line-height: 20px;
    padding: 10px;
  }
  .coupleContainer {
    overflow: visible;
  }
  .coupleContainer img {
    border-top-left-radius: 20px;
  }
  .eventListContainer {
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
  }
  .eventImage {
    width: 180px;
    height: 280px;
  }
  .eventImage img {
    width: 180px;
    height: 200px;
  }
  .eventListContainer div:nth-child(1) {
    margin-right: 10px;
  }
  .eventListContainer div:nth-child(2) {
    margin-right: 10px;
  }
  .eventListContainer div:nth-child(2) img {
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  .eventContainer {
    margin-bottom: 50px;
  }
  .coupleContainer {
    width: 687px;
    height: 323px;
    margin-top: 30px;
  }
  .coupleContainer h2 {
    height: 81px;
    width: 264px;
    left: -97px;
    line-height: 26px;
    padding: 10px;
    top: 272px;
  }
}

@media (min-width: 1200px) {
  .eventContainer {
    margin-bottom: 50px;
  }
  .coupleContainer {
    width: 973px;
    height: 466px;
    margin-top: 30px;
  }
  .coupleContainer h2 {
    height: 111px;
    width: 306px;
    left: -97px;
    line-height: 26px;
    padding: 31px;
    top: 385px;
  }
}
