.contactContainer {
  display: grid;
  width: 80%;
  height: 120px;
  margin: 0 auto;
  grid-template-columns: 30px 1fr 1fr;
  grid-template-rows: minmax(50px, auto);
}

.title {
  grid-column: 1/4;
  align-self: center;
  font-weight: 500;
}
.correo,
.whatssap {
  grid-column: 2/4;
  font-size: 12px;
  margin-top: 2px;
}
.correo:hover,
.whatssap:hover {
  text-decoration: underline 2px #e05aa0;
}

@media (min-width: 510px) {
  .contactContainer {
    width: 440px;
  }
  .title {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .contactContainer {
    max-width: 30%;
    margin: 10px 0px 0px 85px;
    flex: 1;
    margin-left: 85px;
  }
  .title {
    font-size: 18px;
    margin-bottom: 28px;
  }
  .correo,
  .whatssap {
    font-size: 13px;
    font-weight: 500;
  }
}
@media (min-width: 1100px) {
  .correo,
  .whatssap {
    margin-left: 4px;
  }
}
