.mainContainer {
  margin-left: 20px;
}

.mainContainer h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .mainContainer {
    margin-left: 50px;
  }
}
@media (min-width: 992px) {
  .mainContainer {
    margin-left: 100px;
    max-width: 990px;
  }
}
