.mainContainer {
  margin-left: 20px;
}

.mainContainer h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 500;
}
.errorContainer {
  text-align: center;
  color: red;
  font-weight: 500;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .mainContainer {
    padding: 20px 25px;
  }
  .formButton button:hover {
    transition: 500ms;
    letter-spacing: 8%;
    box-shadow: 0px 3px 2px 1px rgba(255, 206, 0, 0.8);
  }
}
@media (min-width: 992px) {
  .mainContainer {
    margin-left: 6.5%;
    max-width: 990px;
  }
}
