.containerDesktopNavbar {
  background-color: black;
}
.containerDesktopNavbar p {
  color: white;
}

.containerDesktopNavbar {
  display: none;
}

/*Mobile Navbar*/
/*Estilos generales al contenedor*/
.containerMobileNavbar {
  background-color: black;
  display: flex;
  align-items: center;
  height: 56px;
}
/*Desktop Navbar*/
@media (min-width: 768px) {
  .containerDesktopNavbar {
    display: block;
    display: flex;
    justify-content: space-between;
    height: 93px;
    z-index: 100;
    width: 100%;
    max-width: 1440px;
  }
  .homeNavbarDekstop {
    width: 100%;
    position: absolute;
    background: none;
  }
  .containerMobileNavbar {
    display: none;
  }
  .navbarLinks {
    display: flex;
    align-items: center;
  }
  .navbarLinks p:nth-child(1) {
    margin: 0 25px;
  }
  .navbarLinks p:nth-child(3) {
    margin: 0 25px;
  }
  .containerDesktopNavbar button {
    margin-right: 25px;
    border: none;
    background-color: #e05aa0;
    color: white;
    padding: 10px;
    border-radius: 85px;
    cursor: pointer;
  }
}
@media (min-width: 992px) {
  .containerDesktopNavbar button {
    padding: 15px 30px;
  }
}
