.carrouselComments {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 300px;
  padding-bottom: 32px;
}
.carrouselComments h3 {
  max-width: 590px;
  font-size: 31px;
  font-weight: 400;
  line-height: 127%;
  letter-spacing: 2%;
}
