@media screen and (min-width: 360px) {
    .description-section-container {
        background-color: #FFCE00;
        text-align: center; 
        padding: 2px;
    }
    .h2-desc {
        font-weight: 500;
        font-size: 14px;
        line-height: 125%;
        margin: 16px;
    }
    .p-desc {
        font-weight: 400;
        font-size: 10px;
        line-height: 125%;
        margin: 18px;
    }
}