.sectionAboutSecond {
  width: 100%;
}
.itemSecondSection {
  width: 100%;
}

.itemParagraph {
  width: 100%;
  padding-right: 10px;
}

.sectionAboutSecond h2 {
  font-size: 24px;
  font-weight: 500;
  margin-left: 20px;
}

.sectionAboutSecond p {
  font-size: 12px;
  font-weight: 400;
  margin-left: 20px;
}

.itemSecondSection p {
  font-size: 10px;
  font-weight: 400;
}

.sectionAboutSecond {
  width: 100%;
}

.itemSecondSection {
  display: flex;
  margin: 20px 0;
  align-items: center;
  height: 107px;
}

.containerItemImage {
  display: flex;
  justify-content: end;
}

#_1 {
  background: #e05aa0;
}
