.informationContainer {
  width: 100%;
  margin-top: auto;
}
.informationContainerDesktop {
  display: none;
}
.eventosFooterStyles {
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  .informationContainer {
    display: none;
  }
  .informationContainerDesktop {
    display: block;
    width: 100%;
    margin-top: auto;
  }
  .bodyFooter {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 12px;
  }
}

@media (min-width: 992px) {
  .bodyFooter {
    width: 85%;
  }
}
